@charset "utf-8";
/*  information 상세페이지 tablet해상도 info_tab.css */

@media screen and (min-width:768px) and (max-width:1024px){
    .mob_info_txt{
        display: none;
    }
    .pc_arti_img{
        display: none;
    }
    .arti4_pc{
        display: none !important;
    }
    /* 인포 소개 배경 영역*/
    .info_sec{
        position: relative;
        width: 100%;
        height: 450px;
    }
    .info_sec>.bgimg1{
        width: 100%;
        height: 100%;
    }
    h2,h3{
        display: none;
    }
    .info_arti1{
        width: 100%;
        text-align: center;
        color: #fff;
        position: absolute;
        top: 50%;left: 50%;
        transform: translate(-50%, -50%);
    }
    .info_arti1>ul>li{
        padding-bottom: 10px;
    }
    .t1{
        font-size: 1.125rem;
    }
    .t3{
        font-size: 2.1875rem;
        padding-bottom: 30px !important;
    }
    .t4{
        font-size: 0.9375rem;
    }
    .bgimg2{
        display: none;
    }


    /* 인포메이션 내비 */
    .info_nav{
        width: 100%;
        margin: 0px auto;
        display: flex;
    }
    .info_nav>li{
        font-size: 0.9375rem;
        padding: 20px;
        cursor: pointer;
    }
    .info_nav>.nav_1{
        width: 80px;
        position: relative;
    }

    i.fa-sort-down{
        padding-left: 15px;
    }
    .info_nav>.nbsp{
        width: 1px;
        height: 55px;
        background: #fff;
        padding: 0px !important;
    }
    .info_nav>li:nth-child(5){
        display: block;
    }

    .nbsp1{
        display: none;
    }
    
    .info_arti2 a{
        color: #fff;
    }
    i.fa-house-chimney{
        font-size: 1.25rem;
    }
    .info_nav_1{
        position: absolute;
        left: -1px;top: 55px;
        padding: 20px;
        z-index: 999;
        background: #fff;
        width: 80px;
        border: 1px solid #A2A2A2;
        border-top: none;
        display: none;
    }
    .info_nav_1>li{
        padding: 10px 0px;
    }

    .info_nav_1>li>a{
        color: #333;
    }


     /* 인포메이션 */
    .info_border{
        width: 100%;
        border-bottom: 1px solid #A2A2A2;
    }
    .info{
        width: 100%;
        margin: 0px auto;
        display: flex;
        justify-content: center;
        color: #333;
        font-size: 1.125rem;
    }
    .info>li{
        padding: 35px 10px;
    }
    .info>li:last-child{
        display: block;
    }
    .info_bd_click{
        color: #ff6a00 !important;
    }
    .info>.nav_c>a{
        color: #ff6a00;
    }

    
    /* 설명 */
        /* 회사소개 */
    .info_arti3{
        width: 90%;
        height: 1170px;
        margin: 0px auto;
    }
    .info_img{
        width: 100%;
        padding-top: 100px;
        position: relative;
    }
    .square1{
        display: none;
    }
    .arti3_img3{
        width: 100%;
    }

    .info_txt{
        width: 100%;
        margin: 0px auto;
        text-align: center;
        padding-top: 150px;
    }
    .info_txt1{
        font-size: 1.875rem;
        padding-bottom: 60px;
        line-height: 45px;
    }
    .info_txt1 span{
        color: #ff6a00;
    }
    .i_txt{
        font-size: 0.9rem;
        line-height: 40px;
        color: #818181;

    }
    .info_txt2{
        padding-bottom: 30px;
    }
    .info_txt3{
        padding-bottom: 30px;
    }

    /* ceo인사말 */
    .info_arti4{
        width: 90%;
        margin: 50px auto;
        position: relative;
    }
    .info_arti4>li{
        width: 100%;
    }
    .info_arti4>li>img{
        width: 100%;

    }
    .arti4_txt>li{
        padding-bottom: 30px;
        font-size: 0.9rem;
        line-height: 25px;
        color: #818181;
        display: block;
    }
    .arti4_txt1{
        font-size: 1.875rem !important;
        line-height: 50px !important;
        padding-bottom: 60px !important;
        color: #333 !important;
    }
    .arti4_txt1>span{
        color: #ff6a00;
    }
    .arti4_txt2{
        font-size: 1.125rem !important;
        color: #333 !important;
        text-align: right;
        padding-top: 10px;
    }

    /* ci */
    .ci{
        width: 90%;
        margin: 50px auto;
        text-align: center;
    }
    .ci>li>img{
        width: 100%;
    }
    .ci>li:first-child{
        font-size: 1.875rem !important;
        line-height: 50px !important;
        padding-bottom: 30px !important;
        color: #ff6a00 !important;
    }
    .ci>li{
        padding-bottom: 30px;
        font-size: 1.125rem !important;
        line-height: 30px;
        color: #333;
    }



}