@charset "utf-8";
/* mobile.css서식 */
@media screen and (max-width:767px){
    /* 스크롤바 숨기기 */
    body::-webkit-scrollbar{
        display: none;
    }
    body{
        -ms-overflow-style:none;
        /* scrollbar-width: none; */
    }

    /* 헤더 서식 시작 */
    header{
        height: 80px;
        position: relative;
    }
    .h_top{
        padding: 20px 0px; 
        position: relative;
        
    }
    .h_top > h1{
        order: 2;
        width: 123px;
        margin: 0px auto;
    }
    .h_top > h1 img{
        /* height: 40px; */
        width: 100%;
    }
    .h_top > .lnb{
        order: 1;
        position: absolute;
        top: 27px; left:20px;
        display: block;
        width: 50px;line-height: 30px;
        font-size: 1rem; 
    }
    label.fa-bars{
        display: block;
        order: 4;
        position: absolute;
        top: 20px;right: 20px;
        padding: 7px;
        font-size: 1.875rem; 
        color: #fff;
    }

    /* 모바일 내비게이션 서식 */
    .h_bottom{
        width: 100%;
        height: 100vh;
        background: rgba(250, 237, 221,0.7);
        position: fixed;
        z-index: 9999;
        top: 0;
        left: 100%;
        transition: 0.4s;
        z-index: 2;
    }
    
    .gnb li:nth-child(4),.gnb li:nth-child(5),i.fa-times, fieldset, i.fa-circle-plus, label.fa-search,  input[type=text]{
        display: block;
    }
    /* 토글체크하면 gnb보이는 거 */
    #toggle:checked ~ main .top_btn{
        display: none;
    }
    #toggle:checked + header .h_bottom{
    left: 0%;
    }
    #toggle:checked + header i.fa-times{
        left: 0%;
        z-index: 999;
    }
    #toggle:checked + header fieldset{
    left: 0%;
    }
    #toggle:checked + header i.fa-circle-plus{
        left: 0%;
    } 
    #toggle:checked + header label.fa-search{
        left: 0%;
    }
    #toggle:checked + header input[type=text]{
        left: 0%;
    }
    #toggle:checked + header .gnb > ul{
        left: 30%;
    }
    fieldset{
        width:100%;
        position: fixed;
        margin: 20px 0px;
        transform: translateX(-4%);
        z-index: 103; 
        left: 100%;
    }
    label.fa-search{
        height: 30px;
        padding: 7px;
        left: 80%;
        transform: translate(90%, 1.5px);
        font-size: 1rem;
    }
    input[type=text]{
        position: fixed;
        transform: translateX(60%);
        float: right;
        border-radius: 6px;
        width: 60%;height: 30px;
        text-indent: 5px;
        left: 100%;
    }
    
    input::placeholder{
        font-size: 0.7rem;
        left: 100%;

    }
    i.fa-times{
        position: absolute;
        top: 13px;
        color: #fa8d3f;
        font-size: 2.5rem;
        padding: 7px;
        margin-left: 20px;
        left: 100%;

    }
    .gnb{
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.7);
        position: relative;
        cursor: pointer;
    }
    .gnb > ul{
        width: 70%;
        height: 100vh;
        position: absolute;right: 0;top: 0;
        background: #f9f5f0;
        padding-top: 130px;
        left: 100%;

    }
    .gnb li{
        font-weight: 600;
        font-size: 1.3rem;
        line-height: 10px;
        padding-left: 20px; 
    }
    .gnb a{
        display: block;
    }
    
    .gnb p{
        margin-top: 30px;
        text-align: left;
        color: #063190;
    }
    
    input[type*=checkbox]{display: none;}
    .sub {
        background:  #f9f5f0;
        display: none;
    }
    #plus1:checked ~ .sub01{
        display: block;
    }
    #plus2:checked ~ .sub02{
        display: block;
    }
    #plus3:checked ~ .sub03{
        display: block;
    }
    #plus4:checked ~ .sub04{
        display: block;
    }
    #plus5:checked ~ .sub05{
        display: block;
    }

    .sub > li{
        font-size: 1.1rem;
        line-height: 50px;
        position: relative;top: -10px;
    }
    .sub a{
        color: #333;
        font-weight: 400;
    }
    .sub li:active .sub a{
        font-weight: 500;
        color: #fa8d3f;
    }
    i.fa-circle-plus{
        position: relative;
        top: -25px;
        transform: translate(80%, 1px);
        color: #fa8d3f;
        font-size: 1.4rem;
        padding: 10px;
        left: 100%;
        cursor: pointer;
    }

    

    /* 메인서식 시작 */

    /* 메인슬라이드 서식 */
    .pc{
        display: none;
    }
    .m_slide img{
        display: block;
        width: 100%;
    }


    /* 신제품 서식 */
    .pc_bg{
        display: none;
    }
    .n_product{
        /* background-image: url(../images/bg_main2.jpg); */
        height:400px;
        /* background-size: cover; */
        position: relative;
        width: 100%;
    }
    .n_product> img{
        width: 100%;
        height: 260px;
        position: absolute;
        top: 200px;
        z-index: -1;
    }
    .product_img{
        /* position: relative; */
    }
    .product_img > h3{
        padding-top: 70px;
        padding-bottom: 35px;
        font-size: 1.875rem;
        text-align: center;
    }
    .product_img img{
        height: 150px;
    }
    .product_img > ul{
        width: 90%;
        margin: 0px auto;
        display: flex;
        justify-content: space-between;
        text-align: center;
    }
    .product_img li:nth-child(1) {
        display: none;
    }
    .product_img li{
        width: 45%;
        padding: 0px 5px 10px 5px;
        border-radius: 6px;
    }
    .product_img > ul > li:active {border: 1px solid #ffb47f;
    }
    .product_img p{
        font-size: 0.78rem;
        text-align: center;
        line-height: 20px;
        }
    p.title{
        font-size: 1rem;
        padding: 5px 0;
    }
    .button{
        /* margin-top: 30px; */
        position: relative;top: -10px;
    }
    .button:active{
        background: #fbcf58;
        border: 1px solid #fbcf58;
    }
    



    /* 제품소개하기 서식 */
    .product_intro{
        position: relative;
        top: 113px;
        /* 기본78px */
    }
    .product {
        text-align: center;
    }
    .product > h3 {
        /* padding-top: 50px; */
        padding-bottom: 10px;
        font-size: 1.875rem;
    }
    .product > p{/*딜리셔스 투게더*/
        padding-bottom: 35px;
        font-size: 0.9rem;
    }
    
    .p_i > label[for*=product]{
        width: 60px;height: 60px;
        background: #fff;
        display: inline-block;
        text-align: center;
        margin: 0px 2%;
        border: 1px solid #D9D9D9;  
        border-radius: 6px; 
    }
    .p_i > label[for*=product] > img{
        width: 100%;
    }
    .p_i > label[for*=product]:active {
        box-shadow: 0px 0px 3px rgba(255,106,0,0.5);
    } 
    .product_intro> img{
        display: none;
    }
    .p_i { /* 삼양 제품소개 그릇라면 이미지 */
        background: url(../images/bg_main3.png) no-repeat;
        background-position: right 50px;
        width: 100%;
        text-align: center;
    }
    .p_i> label p{/*라면, 스낵 글자*/
       padding: 10px 0px;
    }
    .product_i { /*제품들  회색 배경의 아이콘 이미지*/
        background: #F7F7F7;
        margin-top: 10px;
        padding: 5px 0;
        display: flex;
        justify-content: space-around;
    }
    .product_i li{
        width: 100px;
        border-radius:6px;
        padding: 0px 1.5%;
    }
    .product_i li:last-child img{
        border-radius: 6px;
    }
    .product_i li:active{
        border: 1px solid #c2c1c1;
    }
    .product_i img{
        width: 100%;
    }
    .product_i > li:nth-child(3), li:nth-child(4), li:nth-child(5){
        display: none;
    }
    .product_i{display: none;}
    #product01:checked ~ .ramen{display: flex;}
    #product02:checked ~ .snack{display: flex;}
    #product03:checked ~ .milk{display: flex;}
    #product04:checked ~ .sauce{display: flex;}

    #product01:checked + label[for=product01], #product01:checked ~ p{
        color: #FF6A00;font-weight: bold;
        background-image: url(../images/ico_main3_hover01.png);
        background-size: contain;
        
        border: 1px solid rgba(255,106,0,0.5); 
    }
    #product02:checked + label[for=product02], #product02:checked ~ p{
        color: #FF6A00;font-weight: bold;
        background-image: url(../images/ico_main3_hover02.png);
        border: 1px solid rgba(255,106,0,0.5);
        background-size: contain;

    }
    #product03:checked + label[for=product03], #product03:checked ~ p{
        color: #FF6A00;font-weight: bold;
        background-image: url(../images/ico_main3_hover03.png);
        border: 1px solid rgba(255,106,0,0.5);
        background-size: contain;

    }
    #product04:checked + label[for=product04], #product04:checked ~ p{
        color: #FF6A00;font-weight: bold;
        background-image: url(../images/ico_main3_hover04.png);
        border: 1px solid rgba(255,106,0,0.5);
        background-size: contain;

    }


    /* 지속가능경영 */
    .esgSlide, .esgSlide2{
        display: none;
    }
    .esg{
        position: relative;top: 183px;
        /* 기본이 113 */
        height: 450px;
    }
    .sustain_esg {
        width: 90%;
        margin: 0px auto;
    }
    .esgSlide3 {
        width: 100%;
        height: 100%;
    }
    .esgSlide3 swiper-slide {
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .esgSlide3 swiper-slide > a{
        width: 323px;height: 329px;
        overflow: hidden;
    }
    .esgSlide3 swiper-slide img {
        display: block;
        object-fit: cover;
        border-radius: 10px;
        object-fit: cover;
    }
   
    swiper-slide:active a{
        border-radius: 10px;
    }
    swiper-slide:active img{
        filter: brightness(50%);
        transform: scale(1.13);
    }
    
    
     /* 지속가능 경영 글자서식 시작 */
    .sustain_esg > h3{
       padding-top: 25px;
       padding-bottom: 35px;
        font-size:1.875rem;
        text-align: center;
    }
   .esgSlide3 swiper-slide p{
        font-size: 1.5rem;
        text-align: center;
        position: relative;top: -250px;
    }
    swiper-slide:active p{
        font-size:1.875rem;
    }
    






    /* sns 서식 시작 */
    .sns{
       position: relative;top: 250px;
       /* 기본 180 */
       height: 720px;
       margin: 0 auto; 
    }
    .sns > h2{
        margin-bottom: 35px;
        display: block;
        font-size: 1.875rem;
        text-align: center;
    }
    .sns_icon{ 
        width: 90%; 
        margin: 0px auto;
    }
    .sns_icon > label{
        background: #FFFAEE; 
        display: inline-block; 
        text-align: center;
        padding-top: 14px;
        margin-bottom: 5px;
        width: 49.5%;height: 45px;
        border-radius: 6px;

    }
    label[for*=tab]:active {
        background: #FFEBBA;
    }
    .sns_photo li{
        width: 50%;
    }
    .sns_photo li:nth-child(3), .sns_photo li:nth-child(4){display: none;}
    .sns_photo li:active img{
        filter: brightness(1.2);
    }
    .sns_photo li:active p{
        text-decoration: underline #b8b8b8;
    }
    .sns_photo img{
        border-radius: 6px;
        width: 100%;
    }
    .sns_photo p{
        width: 90%;
        line-height: 20px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        font-size: 0.8rem;
    }
    .button{
        text-align: center;
        width: 90px;line-height: 30px;
        border-radius: 20px;
        margin: 30px auto 70px auto;
    }
    .button:active{
        background: #FFEBBA;
        color: #FF6A00;
        border: 1px solid #FFEBBA;
    }
    .button > a{
        padding: 2% 20px; 
    }



    /* top버튼 */
    .top_btn{
        display: block;
        width: 70px;
        line-height: 70px;
        font-size: 1rem;
        text-align: center;
        color: #fff;
        position: fixed;
        bottom: 0;right: 0;
        background: rgba(255, 106, 0, 0.7);
        z-index: 99;
    }


    
    /* 푸터서식 시작 */
    footer{
        position: relative;
        height: 450px;
    }
    footer .line {
        display: block;
        position: absolute;
        top: 40px;
        width: 100%;
        height: 1px;
        background: #5D5E5E;
    }
    .f_bottom > .a1{
        display: none;
    }
    .f_top{
        width: 100%;
        padding: 7px 0px;
        position: relative;
        display: flex;
        justify-content: space-around;
        text-align: center;
    }    
    .f_nav {
        width: 100%;
        font-weight: bold;
    }
    
    .f_nav > ul{
        margin: 0px auto;
        width: 100%;
        line-height: 30px;
        display: flex;
        justify-content: space-around;
        
    }
    .f_nav > ul > li{
        width: 100%;
    }.f_nav > ul > li >a{
        font-size: 0.9rem;
    }
    #f_s{
        display: none;
    }
    .f_bottom{
        width: 100%;
        margin: 0px auto;  
        font-size: 1rem;
    }
    
    .a2 img{
        display: block;
        margin: 0px auto;
        padding: 20px 0px 30px 0px;
    }
    .a2 > p{
        width: 90%;
        font-size: 0.9rem;
        margin: 0px auto;
        text-align: center;
    }
    #f_s2{
        position: relative;
        top: 85px;right: -50%;transform: translateX(-50%);
        text-align: center;
        height: 30px;
        border-radius: 6px;
        
    }


    .f_copySns{
        font-size: 1rem;
        padding: 10px 0px 20px 0px;
    }
    .f_copySns > p{
        width: 90%;
        font-size: 0.9rem;
        margin: 0px auto;
        text-align: center;
    }
    .f_copySns > ul{
        width: 50%;
        margin: 0px auto;
        display: flex;
        justify-content: space-evenly;
        position: relative;top: 80px;
    }
    .f_copySns > li{
        padding: 7px;
    }
    .f_copySns > ul > li:last-child{display: block;}

}