@charset "utf-8";
/* tablet해상도 tablet.css */
@media screen and (min-width:768px) and (max-width:1024px){

    /* 스크롤바 숨기기 */
    body::-webkit-scrollbar{
        display: none;
    }
    body{
        -ms-overflow-style:none;
        /* scrollbar-width: none; */
    }

    /* 헤더서식 시작 */
    .sld_hidden{overflow: hidden;}
    header{
        height: 180px;
    }

    .h_top{
        width: 100%;
        padding: 20px 0px;
        display: flex;
        justify-content: space-around;
    }
    .h_top > h1{
        order: 2;
        position: relative;
    }
    .h_top > .lnb{
        order: 1;
        margin: 25px 80px;
        width: 60px;line-height: 33px;
        font-size: 1rem;
        position: relative;left: -38px;
    }
    /* 헤더 검색폼 */
    .h_top > fieldset{
        order: 3;
        margin: 25.865px 0px;
    }
    .h_top input{
        line-height: 35px;
    }
    #search{
        padding-left: 5px;
        border-radius: 6px;
    }
    label.fa-search{
        position: relative;right: 35px;
        padding: 10px 10px;
    }
    .h_bottom{
        border-top: 1px solid #fff;
        position: absolute;
        width: 100%;
        z-index: 100;
        overflow: hidden;
        background: linear-gradient(#FF6A00 53px,rgba(249, 245, 240, 0.9) 52px, rgba(249, 245, 240, 0.9));
    }
    label.fa-bars{
        z-index: 101;
    }
    /* 헤더내비게이션 */
    .gnb{
        width: 100%;
        height:52px;
    }
    .gnb > ul{
        width: 90%;
        margin: 0px auto;
        display: flex;
        justify-content: space-around;
        font-size: 1.5rem;
    }
    .gnb li{
        width: 100%;
        margin-top: 15px;
        text-align: center;
        position: relative;
    }
    .gnb li:last-child{
        display: block;
    }

    .sub{
        margin-top: 30px;


    }
    .sub > li{
        line-height: 40px;

    }
    .sub > li >a{
        display: block;
        text-align: center;
        font-size: 1.2rem;
    } 
    .sub > li:active a{
        color: #063190;
        text-decoration: none;
        font-weight: bold;
        display: block;
    }
    label.fa-bars{
        display: block;
        color: #fff;
        padding: 6px;
        position: absolute;right: 2%;top: 136px;
        font-size: 2rem; 
        cursor: pointer;
    }   
    #toggle:checked + header > .h_bottom{
        height: 550px; 
    }





    /* 메인서식 시작 */

    /* 메인슬라이드 서식 */
    .pc{
        display: none;
    }
    .m_slide img{
        display: block;
        width: 100%;
    }



    /* 신제품 서식 */
    .pc_bg{
        display: none;
    }
    .mob_btn{
        display: none;
    }
    .n_product{
        width: 100%;
        height: 450px;
        position: relative;
    }
    .n_product> img{/*배경이미지*/
        position: absolute;
        z-index: -1;
        top: 250px;
        width: 100%;
        height:270px;
    }

    .product_img > h3{
        padding-top: 90px;
        padding-bottom: 55px;
        font-size: 1.875rem;
        text-align: center;
    }
    .product_img img{
        height: 200px;
    }
    .product_img > ul{
        width: 100%;
        margin: 0px auto;
        display: flex;
        justify-content: space-around;
    }
    .product_img li{
        padding: 0px 3% 10px 3% ;
        border-radius: 6px;
    }
    .product_img > ul > li:active {border: 1px solid #ffb47f;
    }
    .product_img p{
        font-size: 1rem;
        text-align: center;
        line-height: 20px;
        }
    p.title{
        font-size: 1.25rem;
        padding: 15px 0;
    }
    .btn{
        display: none;
    }


    /* 제품소개하기 서식 */
    .product_intro{
        padding-top: 90px;
        width: 100%;
        height: 600px;
        position: relative;
    }
    .p_i{
        width: 100%;
    }
    .product {
        text-align: center;
    }
    .product > h3 {
        padding-bottom: 15px;
        font-size: 1.875rem;
    }
    .product > p{/*딜리셔스 투게더*/
        padding-bottom: 55px;
        font-size: 1.125rem;
    }
    .p_i > label[for*=product]{/*라면, 스낵 테두리*/
        height: 81px;
        background: #fff;
        display: inline-block;
        text-align: center;
        position: relative;right: -19%; 
        margin: 0px 3%;
        border: 1px solid #D9D9D9;  
        border-radius: 6px; 
    }
    .p_i > label[for*=product]:active {
        box-shadow: 0px 0px 3px rgba(255,106,0,0.5);
    } 
    .product_intro> img{ /* 삼양 제품소개 회색 배경 */
        width: 100%;
        position: relative;bottom: -420px;
        z-index: -1;
    }
    .p_i { /* 삼양 제품소개 그릇라면 이미지 */
        background: url(../images/bg_main3.png) no-repeat;
        background-position: right 0px;
    }
    .p_i> label span{/*라면, 스낵 글자*/
        display: block;
        padding: 15px 0px;
        font-size: 1rem;
    }
    .product_i { /*제품들  회색 배경의 아이콘 이미지*/
        width: 100%;
        background: #F7F7F7;
        position: relative;top: -24px;
        display: flex;
        justify-content: space-around;
    }
    .product_i > li:nth-child(4),li:nth-child(5){
        display: none;
    }
    .product_i li{
        position: relative;
        top: 6px;
        width: 130px;
        border-radius: 10px;
    }
    .product_i li:last-child img{
        width: 100%;
        border-radius: 10px;
    }
    .product_i> li img{
        width: 100%;
    }

    .product_i li:active{
        border: 1px solid #ffb47f;
    }
    .product_i{display: none;}
    #product01:checked ~ .ramen{display: flex;}
    #product02:checked ~ .snack{display: flex;}
    #product03:checked ~ .milk{display: flex;}
    #product04:checked ~ .sauce{display: flex;}

    #product01:checked + label[for=product01], #product01:checked ~ span{
        font-weight: 600;width: 80px;height: 80px;
        position: relative;top: -83px;
        background-image: url(../images/ico_main3_hover01.png);
        border: 1px solid rgba(226, 212, 201, 0.5); 
    }
    #product01:checked + label[for=product01] img{
        display: none;
    }
    #product01:checked + label[for=product01]>span{
        position: relative;top: 83px;
    }





    #product02:checked + label[for=product02], #product02:checked ~ span{
        font-weight: 600;width: 80px;height: 80px;
        position: relative;top: -83px;
        background-image: url(../images/ico_main3_hover02.png);
        border: 1px solid rgba(226, 212, 201, 0.5); 
    }
    #product02:checked + label[for=product02] img{
        display: none;
    }
    #product02:checked + label[for=product02]>span{
        position: relative;top: 83px;
    }




    #product03:checked + label[for=product03], #product03:checked ~ span{
        font-weight: 600;width: 80px;height: 80px;
        position: relative;top: -83px;
        background-image: url(../images/ico_main3_hover03.png);
        border: 1px solid rgba(226, 212, 201, 0.5); 
    }
    #product03:checked + label[for=product03] img{
        display: none;
    }
    #product03:checked + label[for=product03]>span{
        position: relative;top: 83px;
    }

    #product04:checked + label[for=product04], #product04:checked ~ span{
        font-weight: 600;width: 80px;height: 80px;
        position: relative;top: -83px;
        background-image: url(../images/ico_main3_hover04.png);
        border: 1px solid rgba(226, 212, 201, 0.5); 
    }
    #product04:checked + label[for=product04] img{
        display: none;
    }
    #product04:checked + label[for=product04]>span{
        position: relative;top: 83px;
    }






    /* 지속가능경영 */
    .esg{
        position: relative; 
        height: 480px;
    }
    .esgSlide, .esgSlide3{
        display: none;
    }
    .sustain_esg {
        width: 100%;
        margin: 0px auto;
    }
    .esgSlide2 {
        width: 100%;
        height: 100%;
    }
    .esgSlide2 .swiper-slide {
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .esgSlide2 .swiper-slide > a{
        width: 323px;height: 329px;
        overflow: hidden;
    }
    .esgSlide2 .swiper-slide img {
        width: 100%;
        border-radius: 10px;
        display: block;
        transition: 0.4s;
        object-fit: cover;
    }
    .swiper-slide:active a{
        border-radius: 10px;
    }
    .swiper-slide:active img{
        filter: brightness(50%);
        transform: scale(1.13);
    }
    .swiper-slide:active p{
        font-size: 1.875rem;
    }






    /* 지속가능 경영 글자서식 시작 */
    .sustain_esg > h3{
        font-size:1.875rem;
        text-align: center;
        padding-top: 30px;
        padding-bottom: 55px;
    }
    .esgSlide3 .swiper-slide p{
        font-size: 1.5rem;
        text-align: center;
        position: relative;top: -250px;
    } 
    .swiper-slide:active p{
        font-size: 1.875rem;
    }






    /* sns 서식 시작 */
    .sns{
        width: 95%;
        margin: 0 auto; 
    }
    .sns > h2{
        margin-top: 90px;
        margin-bottom: 55px;
        display: block;
        font-size: 1.875rem;
        text-align: center;
    }
    .sns_icon{ 
        width: 100%; 
    }
    .sns_icon > label{
        background: #FFFAEE; 
        display: inline-block; 
        text-align: center;
        padding-top: 14px;
        margin-bottom: 5px;
        width: 24.6%;height: 45px;
        border-radius: 6px;

    }
    label[for*=tab]:active {
        background: #FFEBBA;
    }
    .sns_photo li{
        width: 25%;
    }
    .sns_photo li:active img{
        filter: brightness(1.2);
    }
    .sns_photo li:active p{
        text-decoration: underline #b8b8b8;
    }
    .sns_photo img{
        border-radius: 6px;
        width: 100%;
    }
    .sns_photo p{
        width: 90%;
        line-height: 20px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        font-size: 0.8rem;
    }
    .button{
        text-align: center;
        width: 90px;line-height: 30px;
        border-radius: 20px;
        margin:30px auto 70px auto;
    }
    .button:active{
        background: #FFEBBA;
        color: #FF6A00;
        border: 1px solid #FFEBBA;
    }
    .button > a{
        padding: 2% 20px; 
    }


    /* top버튼 */
    .top_btn{
        display: block;
        width: 70px;
        line-height: 70px;
        font-size: 1rem;
        text-align: center;
        color: #fff;
        position: fixed;
        bottom: 0px;
        right: 0; 
        background: rgba(255, 106, 0, 0.7);
        z-index: 999;
    }


    /* 푸터서식 시작 */
    #f_s2{display: none;}
    footer{
        position: relative;
    }
    footer .line {
        display: block;
        position: absolute;
        top: 60px;
        width: 100%;
        height: 1px;
        background: #5D5E5E;
    }
    .f_top{
        width: 100%;
        padding: 15px 0px;
        position: relative;
        display: flex;
        justify-content: space-between;
    }    
    .f_nav {
        padding-left: 20px;
        font-weight: bold;
    }
    .f_nav > ul{
        width: 337px;line-height: 30px;
        display: flex;
        justify-content: space-between;
        font-size: 1rem;
    }
    #f_s{
        width: 150px;
        height: 30px;
        position: absolute;
        right: 20px;
        border-radius: 6px;
    }
    .f_bottom{
        width: 100%;
        margin: 0px auto;  
        font-size: 1rem;
    }
    .a1{display: none;}
    .a2{
        display: flex;
    }
    .a2 > a{
        margin-top: 28px;
    }
    .a2 img{
        width: 200px;height: 60px;
        padding-left: 20px;
    }
    .a2 > p{
        margin-top: 25px;
        margin-left: 28px;
        line-height: 20px;
    }
    .f_copySns{
        display: flex;
        justify-content: space-between;
        font-size: 1rem;
        padding: 10px 0px 20px 0px;
        position: relative;
    }
    .f_copySns > p{
        margin-left: 246px;
        line-height: 40px;
    }
    .f_copySns > ul{
        width: 150px;
        display: flex;
        justify-content: space-between;
        padding-right: 20px;
        position: absolute;
        top: -120px;right: 0;
    }


}